In [1]:
pip install openpyxl, pandasql

ERROR: Invalid requirement: 'openpyxl,'
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from pandasql import sqldf

# Primeiro, carreguei as tabelas do Exercicio 4 e 5 do xlsx que estava na pasta.  
## Fiz isso para poder executar o sql dentro do jupyter notebook

In [3]:
customer_raw = pd.read_excel("challenge_tables.xlsx",sheet_name="customer")
account_raw = pd.read_excel("challenge_tables.xlsx",sheet_name="account")
bankslip_raw = pd.read_excel("challenge_tables.xlsx",sheet_name="bankslip")
pix_send_raw = pd.read_excel("challenge_tables.xlsx",sheet_name="pix_send")
pix_received_raw = pd.read_excel("challenge_tables.xlsx",sheet_name="pix_received")
p2p_tef_raw = pd.read_excel("challenge_tables.xlsx",sheet_name="p2p_tef")

Depois de carregados, usei a primeira coluna de cada para serem as novas colunas de cada tabela

In [4]:
customer = pd.DataFrame(columns=customer_raw["column name"].values.tolist())
account = pd.DataFrame(columns=account_raw["column name"].values.tolist())
bankslip = pd.DataFrame(columns=bankslip_raw["column name"].values.tolist())
pix_send = pd.DataFrame(columns=pix_send_raw["column name"].values.tolist())
pix_received = pd.DataFrame(columns=pix_received_raw["column name"].values.tolist())
p2p_tef = pd.DataFrame(columns=p2p_tef_raw["column name"].values.tolist())

In [5]:
customer

Empty DataFrame
Columns: [customer_id, name, document_number, created_at, updated_at, phone_number, address, timestamp, event_id, dt]
Index: []

In [6]:
account

Empty DataFrame
Columns: [account_id, customer_id, created_at, updated_at, status, timestamp, event_id, dt]
Index: []

In [7]:
bankslip

Empty DataFrame
Columns: [amount, account_id, beneficiary_name, barcode, due_date, timestamp, event_id, dt]
Index: []

In [8]:
pix_send

Empty DataFrame
Columns: [amount, account_id, type_document_number_source_holder, document_number_source_holder, type_document_number_destination_holder, document_number_dentination_holder, user_message, destination_key, timestamp, event_id, dt]
Index: []

In [9]:
pix_received

Empty DataFrame
Columns: [amount, account_id, type_document_number_source_holder, document_number_source_holder, type_document_number_destination_holder, document_number_dentination_holder, user_message, timestamp, event_id, dt]
Index: []

In [10]:
p2p_tef

Empty DataFrame
Columns: [amount, account_id_source, account_id_destination, timestamp, event_id, dt]
Index: []

# Exercicio 4
Como havia não tinha dados para ir desenvolvendo e testando, acreditei que o que estava fazendo não ia dar certo,  
Portanto, o resultado mais proximo que cheguei foi assim:  
Em vez de uma so coluna de transaction_type e mean_value, adicionei uma coluna para cada transaction_type e uma com o AVG(amount) desse tipo.  
A tabela final ficaria com multiplas colunas de transaction_type e mean_value em vez de uma linha para cada, fornecendo assim, potencialmente o mesmo resultado final

In [11]:
query = """
SELECT c.customer_id, a.account_id, c.name, c.dt as date, 
'bankslip' AS transaction_type_b, AVG(b.amount) AS mean_value_b,
'pix_send' AS transaction_type_p, AVG(p.amount) AS mean_value_p,
'p2p_tef' AS transaction_type_p2p_tef, AVG(t.amount) AS mean_value_p2p_tef
FROM customer c 
INNER JOIN account a ON c.customer_id = a.account_id AND c.dt = a.dt
INNER JOIN bankslip b ON b.account_id = a.account_id AND b.dt = a.dt 
INNER JOIN pix_send p ON b.account_id = a.account_id AND p.dt = a.dt
INNER JOIN p2p_tef t ON t.account_id_source = a.account_id AND t.dt = a.dt 
GROUP BY c.name
"""
sqldf(query, globals())

Empty DataFrame
Columns: [customer_id, account_id, name, date, transaction_type_b, mean_value_b, transaction_type_p, mean_value_p, transaction_type_p2p_tef, mean_value_p2p_tef]
Index: []

# Exercicio 5
No exercicio 5 pensei no desenvolvimento o como é feito atualmente na empresa que estou,  
Criando obt (one big table) com todos os campos que podem ser necessarios, particionando eles por data,  
Assim o usuário deve pesquisar nessa tabela somente pela chave na particao de data que ele busca.  
Não tenho os número de benchmark que mostram que essa solução é superior ou inferior as outras, decidi usar ela como solução pois é a que atualmente ja uso

In [12]:
# Inicialmente, coleta-se todos os campos, adicionando um sulfixo em cada um para saber de onde ele veio na obt
result = [] 
for c in customer.columns:    
    result.append("c."+c+", ")    
for c in account.columns:
    result.append("a."+c+" AS "+c+"_account, ")
for c in bankslip.columns:
    result.append("b."+c+" AS "+c+"_bankslip, ")
for c in pix_send.columns:
    result.append("p."+c+" AS "+c+"_pix_send, ")       
for c in pix_received.columns:
    result.append("pr."+c+" AS "+c+"_pix_received, ")   
for c in p2p_tef.columns:
    result.append("t."+c+" AS "+c+"_p2p_tef, ")
i = " "
for item in result:
    i = i + item
i = i[:-2]

In [13]:
# depois executa a query unindo todos os dados
query = """
SELECT """+i+"""
FROM customer c 
INNER JOIN account a ON c.customer_id = a.account_id AND c.dt = a.dt
INNER JOIN bankslip b ON b.account_id = a.account_id AND b.dt = a.dt 
INNER JOIN pix_send p ON b.account_id = a.account_id AND p.dt = a.dt
INNER JOIN pix_received pr ON b.account_id = a.account_id AND p.dt = a.dt
INNER JOIN p2p_tef t ON t.account_id_source = a.account_id AND t.dt = a.dt 
"""
obt = sqldf(query, globals())

In [14]:
obt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 53 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   customer_id                                           0 non-null      object
 1   name                                                  0 non-null      object
 2   document_number                                       0 non-null      object
 3   created_at                                            0 non-null      object
 4   updated_at                                            0 non-null      object
 5   phone_number                                          0 non-null      object
 6   address                                               0 non-null      object
 7   timestamp                                             0 non-null      object
 8   event_id                                              0 non-null      object
 9   dt                                                    0 non-null      object
 10  account_id_account                                    0 non-null      object
 11  customer_id_account                                   0 non-null      object
 12  created_at_account                                    0 non-null      object
 13  updated_at_account                                    0 non-null      object
 14  status_account                                        0 non-null      object
 15  timestamp_account                                     0 non-null      object
 16  event_id_account                                      0 non-null      object
 17  dt_account                                            0 non-null      object
 18  amount_bankslip                                       0 non-null      object
 19  account_id_bankslip                                   0 non-null      object
 20  beneficiary_name_bankslip                             0 non-null      object
 21  barcode_bankslip                                      0 non-null      object
 22  due_date_bankslip                                     0 non-null      object
 23  timestamp_bankslip                                    0 non-null      object
 24  event_id_bankslip                                     0 non-null      object
 25  dt_bankslip                                           0 non-null      object
 26  amount_pix_send                                       0 non-null      object
 27  account_id_pix_send                                   0 non-null      object
 28  type_document_number_source_holder_pix_send           0 non-null      object
 29  document_number_source_holder_pix_send                0 non-null      object
 30  type_document_number_destination_holder_pix_send      0 non-null      object
 31  document_number_dentination_holder_pix_send           0 non-null      object
 32  user_message_pix_send                                 0 non-null      object
 33  destination_key_pix_send                              0 non-null      object
 34  timestamp_pix_send                                    0 non-null      object
 35  event_id_pix_send                                     0 non-null      object
 36  dt_pix_send                                           0 non-null      object
 37  amount_pix_received                                   0 non-null      object
 38  account_id_pix_received                               0 non-null      object
 39  type_document_number_source_holder_pix_received       0 non-null      object
 40  document_number_source_holder_pix_received            0 non-null      object
 41  type_document_number_destination_holder_pix_received  0 non-null      object
 42  document_number_dentination_holder_pix_received       0 non-null      object
 43  user_message_pix_received                             0 non-null      object
 44  timestamp_pix_received                                0 non-null      object
 45  event_id_pix_received                                 0 non-null      object
 46  dt_pix_received                                       0 non-null      object
 47  amount_p2p_tef                                        0 non-null      object
 48  account_id_source_p2p_tef                             0 non-null      object
 49  account_id_destination_p2p_tef                        0 non-null      object
 50  timestamp_p2p_tef                                     0 non-null      object
 51  event_id_p2p_tef                                      0 non-null      object
 52  dt_p2p_tef                                            0 non-null      object
dtypes: object(53)
memory usage: 0.0+ bytes